/* CONFIG */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 65%;
  
  /* COLORS*/
  --playerColor: hsl(296, 37%, 18%);
  --bodyMainColor: #121214;
  --highlightButton: #598756;
  --highlightVariant: #8fa77c;
}

/* MAIN EDITS */

.hide {
  display: none;
}

body {
  background-color: var(--bodyMainColor);
  min-height: 100vh;
}


main {
  height: clamp(85vh, 20vh, 95rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  height: 2vh;
}

button {
  background-color: transparent;
  border: none;
  gap: 5rem;
}

button svg {
  height: clamp(3rem, 3rem + 3.5vw, 8rem)
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: clamp(27rem, 26vw, 32rem);
  
  gap: 3rem;
  padding: 1rem;
  border-radius: 99px;

  background-color: var(--playerColor);
}

.play svg path,
.soundOff svg path {
  fill: var(--highlightButton);
}

.pause svg path {
  fill: var(--highlightVariant);
}

.soundOn, .soundOff {
  padding: 2rem;
}

/* TEXT EDITS */

span {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(10rem, 10vw, 13rem);
  color: #fff;
}